<div class="card">
    <h6 class="card-header">
        Languages
    </h6>

    <div class="card-body">
        <table class="table table-responsive table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">ISO Code</th>
                <th scope="col">Main</th>
                <th scope="col">First</th>
                <th scope="col">Second</th>
                <th scope="col"></th>
            </tr>

            </thead>
            <tbody>
            {% for language in participant.participantlanginfo_set.all %}
                <tr>
                    <td>{{ language.language.name }}</td>
                    <td>{{ language.language.iso_code }}</td>
                    <td>{{ language.main }}</td>
                    <td>{{ language.first }}</td>
                    <td>{{ language.second }}</td>
                    <td>
                        <form action="{% url 'metadata:participant-lang-delete' ppk=participant.pk lpk=language.pk %}"
                              method="POST">{% csrf_token %}
                            <button class="btn participant-trash"
                                    type="submit"><i
                                    class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
