<div class="card">
    <h6 class="card-header">
        Participants
        <span class="badge bg-dark ms-2">{{ participants|length }}</span>
        {% include 'workflow/util/table-filter-input.html' with filter_input_id='participants-input' %}
    </h6>

    <div class="card-body">
        <table id="participants-table" class="table table-responsive table-hover">
            <thead>
            <tr>
                <th scope="col">Added by</th>
                <th scope="col">Short Name</th>
                <th scope="col">Anonymized Code</th>
                <th scope="col">Full Name</th>
                <th scope="col">Birth date</th>
                <th scope="col">Gender</th>
            </tr>

            </thead>
            <tbody>
            {% for participant in participants %}
                <tr>
                    <td>{{ participant.added_by }}</td>
                    <td>
                        <a href="{% url 'metadata:participant-detail' participant.pk %}">
                            {{ participant.short_name }}
                        </a>
                    </td>
                    <td>{{ participant.anonymized }}</td>
                    <td>{{ participant.full_name }}</td>
                    <td>{{ participant.get_birth_date }}</td>
                    <td>{{ participant.get_gender_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'workflow/util/table-filter-function.html' with filter_table_id='participants-table' filter_input_id='participants-input' %}
