{% extends 'base/base.html' %}

{% load static %}

{% block content %}

    <div class="row">

        <div class="col-lg-1">
        </div>

        <div class="col-lg-4">
            {% include 'users/user-short.html' %}
        </div>

        <div class="col-lg-1">
        </div>

        <div class="col-lg-6">
            <div class="card h-100">
                <h5 class="card-header bg-light text-center">Assignments</h5>
                <div class="card-body">
                    <p class="card-text text-justify">
                        {% lorem 2 p %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('#home-link').addClass('active');
        })
    </script>


{% endblock %}