{% extends 'base/base.html' %}

{% load static %}

{% block content %}

    <div class="row">

        <div class="col-md-1">
        </div>

        <div class="col-md-4">
            {% include 'users/user-short.html' %}
        </div>

        <div class="col-md-1">
        </div>

        <div class="col-md-6">
            <div class="row mb-3">
                <div class="col-12">
                    {% include 'users/user_task_list_card.html' with assignments=current_assignments title='Your current Tasks' %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% include 'users/user_task_list_card.html' with assignments=finished_assignments title='Your finished Tasks' %}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('#home-link').addClass('active');
        })
    </script>


{% endblock %}