{% extends 'workflow/base.html' %}

{% block workflow-breadcrumb %}

    <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'workflow:rec-detail' task.recording.pk %}">
            {{ task.recording.name }}
        </a>
    </li>
    <li class=breadcrumb-item aria-current="page">{{ task.get_name_display.title }}</li>
    <li class=breadcrumb-item aria-current="page">Update</li>

{% endblock %}

{% block workflow-content %}

{% include 'workflow/task/task_update_card.html' %}

{% endblock %}