<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Corpus Manager</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
          integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40="
          crossorigin="anonymous"/>
    <link href='https://fonts.googleapis.com/css?family=Redressed' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/custom.css" %}">

    {% block head %}
    {% endblock %}

</head>
<body class="d-flex flex-column h-100">
<div id="main-container" class="container-fluid">

    <div id="top-nav" class="row">
        <div class="col-12">
            {% include 'base/top-navbar.html' %}
        </div>
    </div>

    <div class="row">
        <div id="side-nav" class="col-md-2 pt-3">
            {% include 'base/side-navbar.html' %}
        </div>

        <div id="content-area" class="col-md-10 p-5">
            {% block content %}
                replace me
            {% endblock %}
        </div>
    </div>
</div>

<footer id="footer" class="mt-auto py-1">
    <div class="container">
        {% include 'base/footer.html' %}
    </div>
</footer>
</body>
</html>