<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Corpus Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
          integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40="
          crossorigin="anonymous"/>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/custom.css" %}">

    {% block head %}
    {% endblock %}

</head>
<body class="d-flex flex-column h-100">
<div id="main-container" class="container-fluid">

    <div id="top-nav" class="row">
        <div class="col-12">
            {% include 'base/top-navbar.html' %}
        </div>
    </div>

    <div class="row gy-5">
        <div id="side-nav" class="col-xl-2 pt-3">
            {% include 'base/side-navbar.html' %}
        </div>

        <div id="content-area" class="col-xl-10 p-md-5">
            {% block content %}
                replace me
            {% endblock %}
        </div>
    </div>
</div>

<footer id="footer" class="mt-auto py-1">
    <div class="container">
        {% include 'base/footer.html' %}
    </div>
</footer>
</body>
</html>