<nav class="nav flex-column nav-pills sticky-top">
    <a id="home-link" class="nav-link" href="{% url 'home:home-detail' %}">
        <i class="fas fa-home pr-2"></i>
        Home
    </a>

    <a id="team-link" class="nav-link" href="{% url 'users:user-list' %}">
        <i class="fas fa-users pr-2"></i>
        Team
    </a>

    <a id="metadata-link" class="nav-link" href="{% url 'metadata:metadata-view' %}">
        <i class="fas fa-archive pr-2"></i>
        Metadata
    </a>

    <a id="workflow-link" class="nav-link"
       href="{% url 'workflow:workflow' %}">
        <i class="fas fa-sitemap pr-2"></i>
        Workflow
    </a>


    <a id="settings-link"
       class="nav-link"
       href="{% url 'home:settings-detail' %}">
        <i class="fas fa-cog pr-2"></i>
        Settings
    </a>
</nav>
