<nav class="nav flex-column nav-pills sticky-top">
    <a id="home-link" class="nav-link" href="{% url 'home:home-detail' %}">
        <i class="fas fa-home pr-2"></i>
        Home
    </a>

    <a id="team-link" class="nav-link" href="{% url 'users:user-list' %}">
        <i class="fas fa-users pr-2"></i>
        Team
    </a>

    <a id="metadata-link" class="nav-link"
       href="{% url 'metadata:metadata-view' %}">
        <i class="fas fa-archive pr-2"></i>
        Metadata
    </a>

    <div id="metadata-list" class="row" hidden>
        <div class="col-12 offset-md-2 mt-3 mb-3">
            <table>
                <tr>
                    <td><i class="fas fa-table pr-2"></i></td>
                    <td>
                        <a href="{% url 'metadata:session-list' %}">
                            Sessions
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="fas fa-child pr-2"></i></td>
                    <td>
                        <a href="{% url 'metadata:participant-list' %}">
                            Participants
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="fas fa-video pr-2"></i></td>
                    <td>
                        <a href="{% url 'metadata:rec-list' %}">
                            Recordings
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="fas fa-file-video pr-2"></i></td>
                    <td>
                        <a href="{% url 'metadata:file-list' %}">
                            Files
                        </a>
                    </td>
                </tr>

            </table>
        </div>
    </div>

    <a id="workflow-link" class="nav-link"
       href="{% url 'workflow:workflow' %}">
        <i class="fas fa-sitemap pr-2"></i>
        Workflow
    </a>

    <a id="backup-link" class="nav-link" href="{% url 'backup:backup-view' %}">
        <i class="fas fa-save pr-2"></i>
        Backup
    </a>
</nav>
