{% extends 'backup/base.html' %}

{% block backup-content %}

    <div class="row">

        <div class="col-md-4"></div>

        <div class="col-md-4 text-center">

            {#            <div class="card">#}
            {##}
            {#                <div class="card-body">#}
            {#                    <div class="alert alert-warning" role="alert">#}
            {#                        You don't have backups yet!#}
            {#                    </div>#}
            {##}
            {#                    <a class="btn btn-primary"#}
            {#                       href="{% url 'backup:ssh-create-view' %}">#}
            {#                        Set up Backup#}
            {#                    </a>#}
            {#                </div>#}
            {##}
            {#            </div>#}

            <div class="row mb-3 text-center">
                <div class="col-12">
                    <a href="{% url 'backup:backup-download' %}"
                       class="btn btn-success w-100">
                        <i class="fas fa-download pe-2"></i>
                        Download backup
                    </a>
                </div>
            </div>


        </div>

    </div>

{% endblock %}

