{% extends 'backup/base.html' %}

{% block backup-content %}

    <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-6">

            <div class="row mb-3">
                <div class="col-12">
                    <a href="{% url 'backup:backup-create' %}"
                       class="btn btn-primary">
                        <i class="fas fa-plus-square pe-2"></i>Create Backup
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <h6 class="card-header">Backups</h6>

                        <div class="card-body">
                            <table class="table table-responsive table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">SHA</th>
                                    <th scope="col">Date</th>
                                </tr>

                                </thead>
                                <tbody>
                                {% for commit in commits %}
                                    <tr>
                                        <td>
                                            <a href="{{ commit.sha_url }}" target="_blank">
                                                {{ commit.sha }}
                                            </a>
                                        </td>
                                        <td>{{ commit.date }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="row mb-3">
                <div class="col-12">
                    <div class="card">
                        <h6 class="card-header">Repository</h6>

                        <div class="card-body">
                            <a href="{{ repository }}"
                               target="_blank">{{ repository }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <h6 class="card-header">Public Key</h6>

                        <div class="card-body">
                            <div class="alert alert-dark" role="alert">
                                {{ public_key }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>

    </div>

{% endblock %}

