<div class="card">
    <h6 class="card-header">
        Create GitLab Token
    </h6>

    <div class="card-body">

        <div class="alert alert-info">
            <ol>
                <li>In the upper-right corner, click your avatar and select
                    Settings.
                </li>
                <li>On the User Settings menu, select Access Tokens.</li>
                <li>Choose a name and optional expiry date for the token.</li>
                <li>Choose scope <kbd>write_repository</kbd></li>
                <li>Click the Create personal access token button</li>
            </ol>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <form method="post">{% csrf_token %}
                    <table class="table">
                        {{ form.as_table }}
                    </table>

                    <input class="btn btn-primary" type="submit"
                           value="Add credentials">
                </form>
            </div>
        </div>


    </div>
</div>
