#top-nav {
    background-image: linear-gradient(whitesmoke, white);
    position: relative;
    z-index: 10;
    box-shadow: 0 5px 20px dimgrey;
}

#side-nav {
    background-color: white;
    box-shadow: 2px 0 10px dimgrey;
    z-index: 0;
}

#content-area {
    z-index: -5;
    background-image: linear-gradient(whitesmoke, white);
}

#footer {
    background-color: white;
    position: relative;
    box-shadow: 0 -5px 20px dimgrey;
    z-index: 10;
}

#user-image {
    width:200px;
    height:auto;
}

.card {
    box-shadow: 1px 5px 10px -2px dimgrey;
}

.card-header {
    color: darkcyan;
}

#registration-content-area {
    border-radius: 25px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px dimgrey;
}