#top-nav {
    background-image: linear-gradient(#007bff, #007bff);
    position: relative;
    z-index: 3;
    box-shadow: 0 5px 20px lightsteelblue;
}

#top-nav a {
    color: white;
}

#side-nav {
    background-color: white;
    box-shadow: 2px 0 10px lightsteelblue;
    z-index: 1;
}

#content-area {
    z-index: 0;
    background-image: linear-gradient(whitesmoke, whitesmoke);
}

#footer {
    background-color: #007bff;
    position: relative;
    box-shadow: 0 -5px 20px lightsteelblue;
    z-index: 3;
    font-size: 10pt;
    color: white;
}

#user-image {
    height:180px;
    width: 200px;
}

.card {
    box-shadow: 1px 5px 10px -2px lightsteelblue;
}

#registration-content-area {
    border-radius: 25px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px dimgrey;
}

.errorlist li {
    color: red;
}

.number-circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 5px;
  background: lightgrey;
  border: 1px solid #666;
  color: black;
  text-align: center;
  font: 15px Arial, sans-serif;
}

.hint {
    font-size: 14px;
}