{% extends 'metadata/base.html' %}

{% block metadata-content %}

    <div class="modal fade" id="exampleModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Delete role '{{ role.name }}'
                    </h5>
                </div>
                <div class="modal-body">
                    You cannot delete role
                    <p class="pt-2"><b>{{ role.name }}</b>
                    <p>
                        The following session participants have this role
                        assigned:
                    <ul>
                        {% for participant in participants %}
                            <li>{{ participant.session.name }}: {{ participant.participant.short_name }}</li>
                        {% endfor %}
                        <li>...</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'metadata:role-list' %}"
                       class="btn btn-secondary">
                        OK
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        let modal = document.getElementById("exampleModal");
        if (modal.parentElement.tagName !== "body") {
            document.body.append(modal);
        }

        const myModal = new bootstrap.Modal(modal);
        myModal.show();

    </script>

{% endblock %}

