<div class="card">
    <h6 class="card-header">
        Roles
    </h6>

    <div class="card-body">

        {% for role in roles %}

            {% if forloop.counter0|divisibleby:4 %}

                {% if forloop.counter0 != 0 %}
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-3"><p class="lead">{{ role.name }}</p></div>

                {% if forloop.last %}
                    </div>
                {% endif %}

            {% else %}
                <div class="col-3">
                    <p class="lead">{{ role.name }}</p>
                </div>
            {% endif %}
        {% endfor %}

    </div>

</div>
