{% extends 'metadata/base.html' %}

{% block metadata-breadcrumb %}
    <li class=breadcrumb-item>
        <a href="{% url 'metadata:role-list' %}">
            Roles
        </a>
    </li>
{% endblock %}


{% block metadata-content %}
    <div class="row">

        <div class="col-xl-12">

            <div class="row">
                <div class="col-xl-12">
                    {% include "metadata/role/role_list_card.html" with files=files %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}