<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h6>Roles</h6>
        {% include 'metadata/role/role_add_button.html' %}
    </div>

    <div class="card-body">

        {% for role in roles %}

            {% if forloop.counter0|divisibleby:4 %}

                {% if forloop.counter0 != 0 %}
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-xl-3 d-flex justify-content-between">

                        <p class="lead">{{ role.name }}</p>

                        <div>
                            <a href="{% url 'metadata:role-update' role.pk %}">
                                <i class="fas fa-edit edit-icon"></i>
                            </a>
                            <a href="{% url 'metadata:role-delete' role.pk %}"
                               class="btn trash-icon"
                               type="submit"><i
                                    class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>

                    {% if forloop.last %}
                        </div>
                    {% endif %}

            {% else %}
                <div class="col-xl-3 d-flex justify-content-between">
                    <p class="lead">{{ role.name }}</p>
                    <div>
                        <a href="{% url 'metadata:role-update' role.pk %}">
                            <i class="fas fa-edit edit-icon"></i>
                        </a>
                        <a href="{% url 'metadata:role-delete' role.pk %}"
                           class="btn trash-icon"
                           type="submit"><i
                                class="fas fa-trash-alt"></i>
                        </a>
                    </div>

                </div>
            {% endif %}
        {% endfor %}

</div>

</div>
