{% extends 'metadata/base.html' %}

{% block metadata-content %}

    <div class="row">

        <div class="col-xl-1"></div>

        <div class="col-xl-4">
            <div class="row mb-4">
                <div class="col-12">
                    <a class="btn w-100 h-100 btn-primary"
                       href="{% url 'metadata:corpus-detail' %}">
                        Corpus
                    </a>
                </div>
            </div>

            <hr/>

            <div class="row mb-4">
                <div class="col-12">
                    <a class="btn w-100 h-100 btn-primary"
                       href="{% url 'metadata:session-list' %}">
                        Sessions
                    </a>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12">
                    <a class="btn w-100 h-100 btn-primary"
                       href="{% url 'metadata:participant-list' %}">
                        Participants
                    </a>
                </div>
            </div>


            <div class="row mb-4">
                <div class="col-12">
                    <a class="btn w-100 h-100 btn-primary"
                       href="{% url 'metadata:rec-list' %}">
                        Recordings
                    </a>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12">
                    <a class="btn w-100 h-100 btn-primary"
                       href="{% url 'metadata:file-list' %}">
                        Files
                    </a>
                </div>
            </div>

            <hr/>

            <div class="row mb-4">
                <div class="col-12">
                    <a class="btn w-100 h-100 btn-primary"
                       href="{% url 'metadata:role-list' %}">
                        Roles
                    </a>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12">
                    <a class="btn w-100 h-100 btn-primary"
                       href="{% url 'metadata:language-list' %}">
                        Languages
                    </a>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-12">
                    <a class="btn w-100 h-100 btn-success"
                       href="{% url 'metadata:imdi-export' %}">
                        IMDI Export
                    </a>
                </div>
            </div>

{#            {% if request.user.is_superuser %}#}
{#                <div class="row mt-5">#}
{#                    <div class="col-12">#}
{#                        <a class="btn w-100 h-100 btn-danger"#}
{#                           href="{% url 'metadata:metadata-import' %}">#}
{#                            Metadata Import#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            {% endif %}#}

        </div>

        <div class="col-xl-1"></div>

        <div class="col-xl-5">
            <div class="card">
                <div class="card-body">
                    <p class="card-text fs-4 text-center">
                        To create a new session, add recordings:
                    </p>
                    <p class="text-center mt-5">
                        <a href="{% url 'metadata:rec-create' %}"
                           class="btn btn-primary btn-lg">
                            <i class="fas fa-plus-square pe-2"></i> Add
                            recording
                        </a>
                    </p>
                </div>
            </div>

        </div>

        <div class="col-xl-1"></div>

    </div>

{% endblock %}

