{% extends 'metadata/base.html' %}

{% block metadata-breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Import</li>
{% endblock %}


{% block metadata-content %}
    <div id="monitor-import" class="row">
        <div class="col-5">
            <form class="mb-5" method="post"
                  enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}
                <input id="monitor-import-btn" class="btn btn-primary"
                       type="submit" value="Import">
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#monitor-import-btn").click(function () {
                $(this).prop("disabled", true);
                $("#monitor-import").append(
                    `<span class="spinner-border" role="status" aria-hidden="true"></span>`
                );
            });
        });
    </script>
{% endblock %}
