<div id="metadata-list" class="row" hidden>
    <div class="col-12 offset-1 mt-3 mb-3">
        <table>
            <tr>
                <td><i class="fas fa-table pe-2"></i></td>
                <td>
                    <a href="{% url 'metadata:corpus-detail' %}">
                        Corpus
                    </a>
                </td>
            </tr>
        </table>

        <div class="w-50">
            <hr>
        </div>

        <table>
            <tr>
                <td><i class="fas fa-table pe-2"></i></td>
                <td>
                    <a href="{% url 'metadata:session-list' %}">
                        Sessions
                    </a>
                </td>
            </tr>
            <tr>
                <td><i class="fas fa-child pe-2"></i></td>
                <td>
                    <a href="{% url 'metadata:participant-list' %}">
                        Participants
                    </a>
                </td>
            </tr>
            <tr>
                <td><i class="fas fa-video pe-2"></i></td>
                <td>
                    <a href="{% url 'metadata:rec-list' %}">
                        Recordings
                    </a>
                </td>
            </tr>
            <tr>
                <td><i class="fas fa-file-video pe-2"></i></td>
                <td>
                    <a href="{% url 'metadata:file-list' %}">
                        Files
                    </a>
                </td>
            </tr>

        </table>

        <div class="w-50">
            <hr>
        </div>

        <table>
            <tr>
                <td><i class="fas fa-user-tag pe-2"></i></td>
                <td>
                    <a href="{% url 'metadata:role-list' %}">
                        Roles
                    </a>
                </td>
            </tr>
            <tr>
                <td><i class="fas fa-language pe-2"></i></td>
                <td>
                    <a href="{% url 'metadata:language-list' %}">
                        Languages
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>