<div class="card">
    <h6 class="card-header">
        Assigned Tasks
    </h6>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="{% url 'workflow:assignments-list' 'all' %}">All</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'workflow:assignments-list' 'segmentation' %}">
                Segmentation
            </a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'workflow:assignments-list' 'transcription' %}">
                Transcription/Translation
            </a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'workflow:assignments-list' 'glossing' %}">
                Glossing
            </a>
        </li>
    </ul>
</div>