{% extends 'base/base.html' %}

{% block content %}

    <nav class="mb-5" aria-label="breadcrumb">
        <ol id="workflow-breadcrumb" class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'workflow:workflow' %}">Workflow</a>
            </li>
            {% block workflow-breadcrumb %}
            {% endblock %}
        </ol>
    </nav>

    {% block workflow-content %}

    {% endblock %}

    <script>
        $(function () {
            $('#workflow-link').addClass('active');
            $('#workflow-list').removeAttr('hidden');
        })
    </script>

{% endblock %}
