{% extends 'base/base.html' %}

{% block content %}

    <nav class="mb-5" aria-label="breadcrumb">
        <ol id="workflow-breadcrumb" class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'workflow:workflow' %}">Workflow</a>
            </li>
            {% block workflow-breadcrumb %}
            {% endblock %}
        </ol>
    </nav>

    {% block workflow-content %}

    {% endblock %}

    <script>
        document.getElementById('workflow-link').classList.add('active');
        document.getElementById('workflow-list').removeAttribute('hidden');
    </script>

{% endblock %}
