<div class="card">
    <h6 class="card-header">
        {{ title }} <span class="dot ml-2 number-circle">{{ tasks|length }}</span>
        {% include 'workflow/table-filter-input.html' with filter_input_id='open-tasks-input' %}
    </h6>

    <div class="card-body">

        <table id="open-tasks-table" class="table table-responsive table-hover">
            <thead>
            <tr>
                <th scope="col">Recording</th>
                <th scope="col">Task</th>
            </tr>

            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.rec }}</td>
                    <td>{{ task.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'workflow/table-filter-function.html' with filter_table_id='open-tasks-table' filter_input_id='open-tasks-input' %}
