<div class="card">
    <h6 class="card-header">
        {{ title }}
    </h6>

    <div class="card-body">

        <table class="table table-responsive table-hover">
            <thead>
            <tr>
                <th scope="col">Recording</th>
                <th scope="col">Task</th>
            </tr>

            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.rec }}</td>
                    <td>{{ task.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>