<div class="card">
    <h6 class="card-header">
        All Recordings
    </h6>
    <div class="card-body">
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Segmentation</th>
                <th scope="col">Transcription</th>
                <th scope="col">Glossing</th>
            </tr>
            </thead>

            <tbody>
            {% for rec in recordings %}
                <tr>
                    <th scope="row">{{ rec.id }}</th>
                    <td>{{ rec.name }}</td>
                    <td>{{ rec.segmentation }}</td>
                    <td>{{ rec.transcription }}</td>
                    <td>{{ rec.glossing }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>