{% extends 'workflow/base.html' %}

{% block workflow-breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'workflow:rec-detail' recording.pk %}">
            {{ recording.name }}
        </a>
    </li>
    <li class=breadcrumb-item aria-current="page">Update</li>

{% endblock %}

{% block workflow-content %}

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="card">
                <h6 class="card-header">
                    Update {{ recording.name }}
                </h6>
                <div class="card-body">
                    <form method="post">{% csrf_token %}
                        <table class="table">
                            {{ form.as_table }}
                        </table>

                        <input class="btn btn-primary" type="submit"
                               value="Update">
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-3">

        </div>
    </div>

{% endblock %}
