{% extends 'workflow/base.html' %}

{% block workflow-content %}
    <div class="row">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="card p-5">
                <form method="post">{% csrf_token %}
                    <table class="table">
                        {{ form.as_table }}
                    </table>
                    <input class="btn btn-primary" type="submit" value="Save">
                </form>
            </div>
        </div>

        <div class="col-3"></div>
    </div>




    <script>
        $(function () {
            $('#workflow-breadcrumb').append(
                '<li class="breadcrumb-item" aria-current="page">' +
                'Add recording\n</li>'
            )
        })
    </script>
{% endblock %}