<div class="card">
    <h6 class="card-header">
        Recordings <span class="dot ml-2 number-circle">{{ recordings|length }}</span>
        {% include 'workflow/table-filter-input.html' with filter_input_id='recs-overview-input' %}
    </h6>
    <div class="card-body">
        <table id="rec-tasks-table" class="table table-hover table-responsive">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Quality</th>
                <th scope="col">Status</th>
            </tr>
            </thead>

            <tbody>
            {% for rec in recordings %}
                <tr>
                    <td>{{ rec.name }}</td>
                    <td>{{ rec.quality }}</td>
                    <td>{{ rec.status }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% include 'workflow/table-filter-function.html' with filter_table_id='rec-tasks-table' filter_input_id='recs-overview-input' %}
