<div id="workflow-list" class="row" hidden>
    <div class="col-12 offset-1 mt-3 mb-3">
        <table>
            <tr>
                <td><i class="fas fa-table pe-2"></i></td>
                <td>
                    <a href="{% url 'workflow:rec-list' %}">
                        All Tasks
                    </a>
                </td>
            </tr>
            <tr>
                <td><i class="fas fa-unlock pe-2"></i></td>
                <td>
                    <a href="{% url 'workflow:open-task-list' %}">
                        Open Tasks
                    </a>
                </td>
            </tr>
            <tr>
                <td><i class="fas fa-lock pe-2"></i></td>
                <td>
                    <a href="{% url 'workflow:assigned-task-list' %}">
                        Assigned Tasks
                    </a>
                </td>
            </tr>
            <tr>
                <td><i class="fas fa-comment-dots pe-2"></i></td>
                <td>
                    <a href="{% url 'workflow:discussion-list' %}">
                        Forum
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>