{% extends 'workflow/base.html' %}

{% block workflow-content %}

    <div class="row">
        <div class="col-md-5 mb-4">

            <div class="row mb-4">
                <div class="col-12">
                    {% include "workflow/task/task_list_card.html" with tasks=open_tasks title='Open Tasks' %}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <a class="btn w-100 h-100 btn-info"
                       href="{% url 'workflow:open-task-list' %}">
                        Open Tasks
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <a class="btn w-100 h-100 btn-info"
               href="{% url 'workflow:rec-list' %}">
                All Recordings
            </a>
        </div>
    </div>


{% endblock %}

