{% extends 'workflow/base.html' %}

{% block workflow-content %}

    <div class="row">
        <div class="col-5"></div>

        <div class="col-7">

            <div class="row mb-4">
                <div class="col-12">
                    {% include 'workflow/add_rec_button.html' %}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {% include 'workflow/rec_tasks_overview.html' %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}

