{% extends 'metadata/base.html' %}

{% block metadata-breadcrumb %}
    <li class=breadcrumb-item>
        <a href="{% url 'metadata:file-list' %}">
            Files
        </a>
    </li>
{% endblock %}


{% block metadata-content %}

    <div class="row">
        <div class="col-12 mb-4">
            <a href="{% url 'metadata:file-create' %}" class="btn btn-primary">
                <i class="fas fa-plus-square pe-2"></i> Add a file
            </a>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="row">
                <div class="col-12">
                    {% include "metadata/file/file_list_card.html" with files=files %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}