{% extends 'base/base.html' %}

{% block content %}

    <div class="row">

        <div class="col-md-4 text-center">
            <img src="{{ user.image.url }}"
                 id="user-image"
                 class="p-3 rounded-circle mx-auto d-block img-fluid mb-5">

            <a class="btn btn-danger mb-5" href=".">Change Password</a>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <table class="table">
                    {{ form.user.as_table }}
                    {{ form.user_profile.as_table }}
                </table>
                <input class="btn btn-primary" type="submit" value="Update">
            </form>
        </div>

    </div>

    <script>
        $(function () {
            $('#settings-link').addClass('active');
        })
    </script>

{% endblock %}