<div class="card">
    <h6 class="card-header">
        {{ title }}
        <span class="badge bg-dark ms-2">{{ assignments|length }}</span>
    </h6>

    <div class="card-body">
        <table class="table table-responsive table-hover">
            <thead>
            <tr>
                <th scope="col">Recording</th>
                <th scope="col">Task</th>
                <th scope="col">Start</th>
                <th scope="col">Finished</th>
            </tr>
            </thead>
            <tbody>
            {% for assignment in assignments %}
                <tr>
                    <td>
                        <a href="{% url 'workflow:rec-detail' assignment.task.recording.pk %}">
                            {{ assignment.task.recording.name }}
                        </a>

                    </td>
                    <td>{{ assignment.task.name.title }}</td>
                    <td>{{ assignment.task.start }}</td>
                    <td>{{ assignment.task.end }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>