<div class="card">
    <h5 class="card-header bg-light text-center">
        <a href="{% url 'users:user-detail' user.pk %}">{{ user.username }}</a>
    </h5>
    <div class="card-body">

        <div class="row">
            <div class="col-12 text-center">
                <img src="{{ user.image.url }}"
                     id="user-image"
                     class="p-2 rounded-circle img-fluid">
            </div>
        </div>

        <table class="table table-sm table-responsive mt-4">
            <tbody>
            <tr>
                <td><i class="fas fa-tag pr-2"></i></td>
                <td>Job</td>
                <td>{{ user.userprofile.get_job_function_display }}</td>
            </tr>
            <tr>
                <td><i class="fas fa-flag-checkered pr-2"></i></td>
                <td>Tasks</td>
                <td>{{ user.assignment_set.all|length }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>