{% extends 'users/base.html' %}

{% block user-breadcrumb %}

{% endblock %}

{% block user-content %}

    {% if request.user.is_staff %}
    <div class="row mb-3">
        <div class="col-5"></div>
        <div class="col-2">
            <a href="{% url 'admin:index' %}" class="btn btn-primary w-100">
                <i class="fas fa-users-cog pr-2"></i> Manage Users
            </a>
        </div>
    </div>
    {% endif %}

    <div class="row mb-2">
        <div class="col-12">
            <h4>
                Active Users
                <i class="fas fa-info-circle" data-toggle="tooltip"
                   title="Users that can login in"></i>
            </h4>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-12">
            <h5>
                Staff
                <i class="fas fa-info-circle" data-toggle="tooltip"
                   title="Users that can access the admin"></i>
            </h5>
        </div>
    </div>

    <div class="row mb-3 mt-3">
        <div class="col-12">
            {% for staff_user_group in users.active.staff %}
                <div class="row">
                    {% for user in staff_user_group %}
                        <div class="col-xl-2 mb-2">
                            {% include 'users/user-short.html' with user=user %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-12">
            <h5>
                Not Staff
                <i class="fas fa-info-circle" data-toggle="tooltip"
                   title="Users that cannot access the admin"></i>
            </h5>
        </div>
    </div>

    <div class="row mb-3 mt-3">
        <div class="col-12">
            {% for staff_user_group in users.active.not_staff %}
                <div class="row">
                    {% for user in staff_user_group %}
                        <div class="col-xl-2 mb-2">
                            {% include 'users/user-short.html' with user=user %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>


    <hr/>

    <div class="row mb-2">
        <div class="col-12">
            <h4>
                Inactive Users
                <i class="fas fa-info-circle" data-toggle="tooltip"
                   title="Users that cannot login in"></i>
            </h4>
        </div>
    </div>

    <div class="row mb-3 mt-3">
        <div class="col-12">
            {% for staff_user_group in users.inactive %}
                <div class="row">
                    {% for user in staff_user_group %}
                        <div class="col-xl-2 mb-2">
                            {% include 'users/user-short.html' with user=user %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>


    <script>
        $(function () {
            $('#team-link').addClass('active');
        })
    </script>

{% endblock %}