{% extends 'users/base.html' %}

{% block user-breadcrumb %}
    <li class=breadcrumb-item aria-current="page">{{ user.get_full_name }}</li>
    <li class=breadcrumb-item aria-current="page">Update</li>
{% endblock %}

{% block user-content %}

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="row mb-5">
                <div class="col-12">
                    {% include 'users/user_update_card.html' %}
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <a class="btn btn-danger"
                       href="{% url 'password_change' %}">
                        Change Password
                    </a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}