<div class="card">
    <h6 class="card-header">
        {{ user.get_full_name }}
    </h6>
    <div class="card-body">

        <img src="{{ user.userprofile.image.url }}"
             id="user-image"
             class="p-3 rounded-circle mx-auto d-block img-fluid">

        <table class="table mt-5">
            <tbody>
            {% if user == request.user %}
                <tr>
                    <td><i class="fas fa-user"></i></td>
                    <td>Username</td>
                    <td>{{ user }}</td>
                </tr>
            {% endif %}
            <tr>
                <td></td>
                <td>First Name</td>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <td></td>
                <td>Last Name</td>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <td><i class="fas fa-envelope"></i></td>
                <td>Email</td>
                <td>
                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                </td>
            </tr>
            <tr>
                <td><i class="fas fa-tag"></i></td>
                <td>Job Function</td>
                <td>{{ user.userprofile.get_job_function_display }}</td>
            </tr>
            <tr>
                <td>
                    {% if user.is_active %}
                        <i class="fas fa-check-square"></i>
                    {% else %}
                        <i class="fas fa-times-circle"></i>
                    {% endif %}
                </td>
                <td>Status</td>
                <td>
                    {% if user.is_active %}
                        Active
                    {% else %}
                        Not active
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><i class="fas fa-calendar-alt"></i></td>
                <td>Joined</td>
                <td>{{ user.date_joined }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>