<div class="card">
    <h6 class="card-header">
        {{ title }} <span class="dot ml-2 number-circle">{{ assignments|length }}</span>
        {% include 'workflow/util/table-filter-input.html' with filter_input_id='assignments-input' %}
    </h6>

    <div class="card-body">

        <table id="assignments-table" class="table table-responsive table-hover">
            <thead>
            <tr>
                <th scope="col">Recording</th>
                <th scope="col">Task</th>
                <th scope="col">Person</th>
            </tr>

            </thead>
            <tbody>
            {% for assignment in assignments %}
                <tr>
                    <td>
                        <a href="{% url 'workflow:rec-detail' assignment.task.recording.pk %}">
                            {{ assignment.task.recording.name }}
                        </a>
                    </td>
                    <td>{{ assignment.task.get_name_display }}</td>
                    <td>{{ assignment.person }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'workflow/util/table-filter-function.html' with filter_table_id='assignments-table' filter_input_id='assignments-input' %}
