<div class="card">
    <h6 class="card-header">
        Recording
        <a class="float-right" href="{% url 'workflow:rec-update' recording.pk %}">
            <i class="fas fa-edit"></i>
        </a>
    </h6>

    <div class="card-body">
        <table class="table table-hover table-responsive">
            <tbody>
            <tr>
                <th scope="row">Quality:</th>
                <td>{{ recording.get_quality_display }}</td>
            </tr>

            <tr>
                <th scope="row">Child Speech:</th>
                <td>{{ recording.get_child_speech_display }}</td>
            </tr>

            <tr>
                <th scope="row">Directedness:</th>
                <td>{{ recording.get_directedness_display }}</td>
            </tr>

            <tr>
                <th scope="row">Dene:</th>
                <td>{{ recording.get_dene_speech_display }}</td>
            </tr>

            <tr>
                <th scope="row">Audio:</th>
                <td>{{ recording.audio }}</td>
            </tr>

            <tr>
                <th scope="row">Length:</th>
                <td>{{ recording.length }}</td>
            </tr>

            <tr>
                <th scope="row">Notes:</th>
                <td>{{ recording.notes }}</td>
            </tr>

            </tbody>
        </table>
    </div>

</div>