{% extends 'base/base.html' %}

{% load static %}

{% block content %}

    <div class="row gy-2">

        <div class="col-xl-1">
        </div>

        <div class="col-xl-4">

            <div class="row mb-4">
                <div class="col-12">
                    {% include 'users/user_detail_card.html' %}
                </div>
            </div>

            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <a class="btn btn-primary" href="{% url 'home:settings-detail' %}">
                        Update profile
                    </a>
                </div>
            </div>

        </div>

        <div class="col-xl-1">
        </div>

        <div class="col-xl-5">
            <div class="row mb-3">
                <div class="col-12">
                    {% include 'users/user_task_list_card.html' with assignments=current_assignments title='Your current Tasks' %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% include 'users/user_task_list_card.html' with assignments=finished_assignments title='Your finished Tasks' %}
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('home-link').classList.add('active');
    </script>


{% endblock %}