<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h6>
            Languages
            <span class="badge badge-dark ml-2">{{ languages|length }}</span>
        </h6>
        {% include 'metadata/language/language_add_button.html' %}
    </div>

    <div class="card-body">
        {% for group in languages %}
            <div class="row">
                {% for language in group %}
                    <div class="col-xl-4 px-5">
                        <div class="d-flex justify-content-between lead">
                            <div>{{ language.name }}</div>
                            <div>{{ language.iso_code }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
