<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h6>
            Languages
            <span class="badge badge-dark ml-2">{{ language_count }}</span>
        </h6>
        {% include 'metadata/language/language_add_button.html' %}
    </div>

    <div class="card-body">
        {% for group in languages %}
            <div class="row">
                {% for language in group %}
                    <div class="col-xl-4 px-5">
                        <div class="d-flex justify-content-between lead">
                            <div>
                                {{ language.name }}
                                ({{ language.iso_code }})
                            </div>

                            <div>
                                <a href="{% url 'metadata:language-update' language.pk %}">
                                    <i class="fas fa-edit edit-icon"></i>
                                </a>
                                <a href="{% url 'metadata:language-delete' language.pk %}"
                                   class="btn trash-icon"
                                   type="submit"><i
                                        class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
