{% extends 'workflow/base.html' %}

{% block workflow-breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'workflow:discussion-list' %}">Forum</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Discussion #{{ discussion.pk }}
    </li>
{% endblock %}

{% block workflow-content %}
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ discussion.title }}</h5>
                    <i>
                        #{{ discussion.pk }}
                        opened on {{ discussion.create_time }} by
                        <a href="{% url 'users:user-detail' discussion.author.pk %}">
                            {{ discussion.author }}
                        </a>
                    </i>

                </div>


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {% for rec in discussion.recordings.all %}
                            <a href="{% url 'workflow:rec-detail' rec.pk %}"
                               class="badge badge-dark">
                                {{ rec.name }}
                            </a>
                        {% endfor %}
                    </li>

                    <li class="list-group-item">
                        {{ discussion.description }}
                    </li>
                </ul>


            </div>
        </div>

    </div>

{% endblock %}