{% extends 'workflow/base.html' %}

{% block workflow-breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'workflow:discussion-list' %}">Forum</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Discussion #{{ discussion.pk }}
    </li>
{% endblock %}

{% block workflow-content %}

    <div class="row mb-5">
        <div class="col-md-12">
            {% include 'workflow/forum/discussion_detail_header.html' %}
        </div>
    </div>

    {% include 'workflow/forum/comment_list.html' %}

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            {% include 'workflow/forum/discussion_detail_add_comment.html' %}
        </div>
    </div>

{% endblock %}