{% extends 'workflow/base.html' %}

{% block workflow-breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'workflow:discussion-list' %}">Forum</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Open new Discussion
    </li>
{% endblock %}

{% block workflow-content %}

    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            {% include 'workflow/forum/discussion_create_card.html' with form=form %}
        </div>

        <div class="col-md-3"></div>
    </div>

{% endblock %}